@media only screen and (max-width:800px){
    body{
        padding: 0;
        font-family:verdana,arial;
    }
    aside{
        padding-top: 50px;
        width: 90%;
        position: static;
        margin: -10px;
        width: 342px;
    }
    #first:hover{
        background-color: green;
        color: cornsilk;
    }
    .main{
        margin-top: 25px;
        margin-inline: 20px;
        width: 300px;
    }
}